
.container-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.imgur.com/VZ0Zq7o.png%22");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


  .paperStyle-login{
    display: grid;
    padding: 40px;
    margin: auto;
    text-align: center;
    width: 25%;
    height: 70%;
    border-radius: 15px !important;
    flex-direction: column;

  }

  .img{
    align-items: center;
  }
  .box-img {
    display: grid;
    justify-items: center;
    align-content: center;
  }

  .box-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .loginText{
    color: #82C34E;
    font-size: 1.7em !important;
    align-items: center;
    font-weight: 900 !important;
    font-family: 'Roboto', sans-serif;

  }

  .button-login{
    height: 40px!important;
    width: 50%!important;
    margin-top: 20px!important;
    color: rgb(255, 255, 255) !important;
    font-weight: 900!important;
    font-family: Roboto, sans-serif !important;
    padding: 30px;
    box-shadow: none !important;
    border-radius: 8px;
    background: linear-gradient( 
      90deg
      , rgba(119, 169, 109, 1) 0%, rgb(105, 168, 46) 100% );
  }

  .button-login:hover {
    background: linear-gradient(
      90deg,
      rgba(119, 169, 109, 1) 0%,
      rgb(106, 170, 46) 100%
    );
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%)!important;
    transition: 0.2s ease-out !important;
  }

  .font {
    font-size: 15px !important;
    font-weight: 300;
    font-family: 'Roboto', sans-serif !important; 
  }

  .login-link-cadastro {
    color: #82C34E;
    font-size: 15px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 900 !important;
    text-decoration: none;
    margin-left: 3px;
    font-style: italic;

  }

  .login-link-cadastro:hover {
    color: #659841 !important;
    transition: 0.3s ease-out !important;

    }