.box-cadastro {
    margin-top: -15px;
  }

  .button{
    height: 32px;
    color: white !important;
    font-weight: bold !important;
    background: linear-gradient(
      90deg,
      rgba(119, 169, 109, 1) 0%,
      rgb(106, 170, 46) 100%
    );
  }

  .button:hover {
    background: linear-gradient(
      90deg,
      rgba(119, 169, 109, 1) 0%,
      rgb(106, 170, 46) 100%
    );
    transition: 0.3s ease-out !important;
  }

  .img-cadastro{
    width: 250px;
    height: 85px;
    margin-top: -10px;
    align-items: center;
  }

  .container {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.imgur.com/VZ0Zq7o.png%22");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.paperStyle 
/* caixa branca */ { 
  padding: 30px;
  margin:auto;
  text-align: center;
  width: 60vh;
  height: 90vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px !important;
}

.box-info {
  margin-top: 25px;
}

.loginText:hover {
  color: rgb(23, 209, 23);
  transition: 250ms ease-out;

}

  .login-link-login
  {
    color: rgb(23, 209, 23) !important;
    transition: 0.3s ease-out !important;
    margin-left: 3px;
    font-style: italic;

  }