.imagem2{
    background-image: url(https://cdn.pixabay.com/photo/2018/04/06/12/49/sustainability-3295757_960_720.jpg);
    background-repeat: no-repeat;
    width: 100vh; 
    min-height: 100vh;
    background-size: cover; 
    background-position: center;

}

.textos2{
    font-weight: bold!important;
}

.btnCancelar{
    margin-right: 20px !important;

}

.padding-10{
    padding: 200px;
    margin-top: 70px;
}
