@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&family=Barlow+Semi+Condensed:wght@600;800&family=Comforter&display=swap');

.text-decorator-none{
  text-decoration: none;
}

.box-produtos{
  background-color: #EDF5E1!important;
}
.botao-atualizar{
    font-family: 'Barlow Condensed', sans-serif!important;
    background-color: #1d6b19!important;
    color: #ffffff!important;
    font-size: large!important;
}

.botao-deletar{
    font-family: 'Barlow Condensed', sans-serif!important;
    background-color: rgb(161, 30, 30)!important;
    color: #ffffff!important;
    font-size: large!important;
}