@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.toolbar-height{
    min-height: 36!important;
}
.box-img-navbar{
    display: grid;
    margin-left: 5px;
}
.box-search{
    display: flex;
    justify-content: center;
}
.margin-right-navbar{
    margin-right: 7px;
}
.margin-left-navbar{
    margin-left: 7px;
}

.cor{
    background-color: #858585!important;
}
.cor2{
    background-color: rgb(151, 151, 151)!important;
}

.margem{
    margin-top: 150px;
}

.login{
    position: absolute;
    right: 15px;
    top: 70px;
}

.fonte-texto-comum{
font-family: 'Roboto', sans-serif!important;
font-weight: 300!important;
cursor: pointer;
}

.fonte-texto-menu{
font-family: "Roboto", "Helvetica", "Arial", sans-serif!important;
text-decoration: none!important;
font-weight: 400!important;
cursor: pointer;
}

.redes{
    font-size: 35px!important;
    color: #000000;
}

.carrinho{
    font-size: 35px!important;
    color: white;
}


.title-nav {
        text-decoration: none!important;
        color: white;

    }

.text-navbar{
    display: flex;
    justify-content: center;
}